<!-- SEARCH BAR -->
<form [formGroup]="searchForm" class="hotel-search-bar">
  <div class="field">
    <label>Check in</label>
    <input type="date" class="input" formControlName="fromDate" />
  </div>

  <div class="field">
    <label>Check out</label>
    <input type="date" class="input" formControlName="toDate" />
  </div>

  <div class="field">
    <label>Rooms</label>
    <select class="input" formControlName="roomCount">
      <option value="1">1 Room</option>
      <option value="2">2 Rooms</option>
      <option value="3">3 Rooms</option>
    </select>
  </div>

  <div class="field">
    <label>Room Type</label>
    <select class="input" formControlName="roomType">
      <option value="ac">AC</option>
      <option value="non-ac">Non-AC</option>
    </select>
  </div>

  <button type="button" class="search-btn" (click)="onSearch()">Search</button>
</form>



<div class="room-list">
  @if (rooms.length === 0) {
    <p> Please select a date range to get room availability status</p>
  } @else {
    @for (room of rooms; track room.room_id) {
      <div class="room-card">
        <img [src]="room.imgUrl" alt="Room Image" />
        <div class="room-info">
          <h3>{{ room.name }}</h3>
          <p>{{ room.description }}</p>
          <p class="price">{{ room.price }}</p>
          <button class="book-btn" (click)="bookRoom(room)">Book Now</button>
        </div>
      </div>
    }
  }
</div>
