<!-- HEADER -->
<header class="app-header">
  <div class="brand" style="cursor: pointer;" (click)="route('search')">PVS</div>
  <nav class="auth-actions">
    <!-- Notifications -->
    <button class="icon-btn" aria-label="Notifications">
      <i class="fas fa-bell"></i>
    </button>

    <!-- Profile Dropdown -->
<div class="profile-wrapper" (clickOutside)="closeDropdown()">
  <button class="icon-btn" aria-label="User Profile" (click)="toggleDropdown()">
    <i class="fas fa-user-circle"></i>
  </button>

  @if (dropdownOpen) {
    <div class="profile-dropdown">
      <a (click)="route('booking')"><i class="fas fa-calendar-check"></i> My Bookings</a>
      <a (click)="route('profile')" ><i class="fas fa-user"></i> My Profile</a>
      <a  (click)="logout()" ><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
  }
</div>
  </nav>
</header>
@if(componentName == 'search'){
<app-room-availability></app-room-availability>

}
@if(componentName == 'booking'){
<app-my-bookings></app-my-bookings>

}

@if(componentName == 'profile'){
<app-user-details></app-user-details>

}


<footer class="app-footer">
  <p>© 2025 PVS Pvt Ltd. All rights reserved.</p>
</footer>